body {
  margin: 0;
  background: #edf2f4;
  font-family: "Bellota Text", cursive, system-ui;
}

h2 {
  margin: 0 0 0.8rem;
}

p {
  margin: 0 0 1.5rem;
}

p:last-child {
  margin: 0;
}

a {
  color: white;
  margin-right: 0.5rem;
}

.header {
  background: linear-gradient(111deg, #7263df 0%, #2694e3 100%);
  padding: 1.5rem;
  color: white;
}

.header-wrapper .title {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0 0 1.5rem;
  display: block;
}

.container-wrapper {
  padding: 1rem;
}

.container-wrapper .container {
  display: flex;
  overflow-x: scroll;
}

.card {
  margin-right: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  min-width: 200px;
  background-image: linear-gradient(#ef476f, #ffd166);
}

.card .status {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
}

.card .character {
  border-radius: 50%;
  width: 160px;
}

@media all and (min-width: 768px) {
  .header {
    padding: 2rem 3rem;
  }

  .header-wrapper {
    max-width: 700px;
  }

  .container-wrapper {
    padding: 1rem;
  }
}
